# droping duplicates

In [13]:
import pandas as pd
import numpy as np
n={"Names":["tony","kanish","dani","kanish"],"marks":["20","30","30","30"],"performance":["30","40","50","40"],}
df=pd.DataFrame(n)
df

    Names marks performance
0    tony    20          30
1  kanish    30          40
2    dani    30          50
3  kanish    30          40

In [2]:
#To keep the first duplicate row
df.duplicated(keep="first")

0    False
1    False
2    False
3     True
dtype: bool

In [3]:
#droping  duplicates

df.drop_duplicates(inplace=True)
df

    Names marks performance
0    tony    20          30
1  kanish    30          40
2    dani    30          50

In [4]:
#checking wether 2 or more rows are  duplicate
n=pd.read_csv("asd.csv")
n.shape

(406, 17)

In [5]:
#there are no duplicated values as there are same (406 rows each)
n.drop_duplicates(inplace=True)
n.shape

(406, 17)

# REPLACE AND DATATYPE CHANGE

In [12]:
import pandas as pd
m=pd.read_csv("asd.csv")
m.head(3)

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close

In [7]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 17 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Timestamp                                                                                          406 non-null    object
 1   Your Sex?                                                                                          404 non-null    object
 2   Your Matric (grade 12) Average/ GPA (in %)                                                         399 non-null    float64
 3   What year were you in last year (2023) ?                                                           333 non-null    object
 4   What faculty does your degree fall under?                                                          399 non-null    object
 5   Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                 320 non-null    float64
 6   Your Accommodation Status Last Year (2023)                                                         383 non-null    object
 7   Monthly Allowance in 2023                                                                          375 non-null    object
 8   Were you on scholarship/bursary in 2023?                                                           398 non-null    object
 9   Additional amount of studying (in hrs) per week                                                    403 non-null    object
 10  How often do you go out partying/socialising during the week?                                      404 non-null    object
 11  On a night out, how many alcoholic drinks do you consume?                                          404 non-null    object
 12  How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)  403 non-null    object
 13  How many modules have you failed thus far into your studies?                                       403 non-null    object
 14  Are you currently in a romantic relationship?                                                      403 non-null    object
 15  Do your parents approve alcohol consumption?                                                       402 non-null    object
 16  How strong is your relationship with your parent/s?                                                403 non-null    object
dtypes: float64(2), object(15)
memory usage: 54.1+ KB

In [8]:
m["How many modules have you failed thus far into your studies?"].value_counts()

How many modules have you failed thus far into your studies?
0     263
1      58
2      31
4+     27
3      24
Name: count, dtype: int64

In [9]:
# First filling all the null values

m["How many modules have you failed thus far into your studies?"].fillna(n["How many modules have you failed thus far into your studies?"].mode()[0],inplace=True)

In [10]:
#Replacing Function

m["How many modules have you failed thus far into your studies?"].replace("4+","4",inplace=True)

In [11]:
#changing the datatypes as int64 using astype function

m["How many modules have you failed thus far into your studies?"]=m["How many modules have you failed thus far into your studies?"].astype("int64")